* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

div {
	/*border: 1px solid red;*/
	display: block;
}

body {
	background-image: url('../images/felt4.jpg');
}

h2 {
	text-align: center;
}

#container {
	width: 80%;
	margin: 0 auto;
	margin-left: 10%;
	margin-top: 3em;
	padding: 3em;
}

#tabletext {
	width: 80%;
	height: 3em;
	text-align: center;
	margin-bottom: 3em;
	margin-left: 10%;
}

#dealerhand {
	width: 33%;
	/*height: 1em;*/
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
	padding: 0;
	height: 77px;
}

#playerhand {
	width: 33%;
	/*height: 1em;*/
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
	padding: 0;
	height: 77px;
}

#bank {
	width: 10%;
	height: 3em;
	margin-left: 23%;
}

#buttons {
	width: 80%;
	height: 2em;
	margin-top: 2em;
	text-align: center;
	margin-left: 10%;


}

#chips {
	width: 80%;
	height: 6em;
	margin-left: 10%;
	text-align: center;
}

span {
	font-size: 100px;
}

.chip {
	border-radius: 100%;
	height: 4em;
	width: 4em;
	text-align: center;
	/*vertical-align: center;*/
	margin: 1px;
	display: inline-block;
	background-image: url('../images/chips2.png');
	background-size: 686%;
}

#one {
	background-position-x: 409px;
  background-position-y: 231px;
}

#five {
	background-position-x: 259px;
  background-position-y: 231px;
}

#twentyfive {
	background-position-x: -31px;
  background-position-y: 157px;
}

#onehundred {
	background-position-x: -181px;
  background-position-y: 157px;
}

#fivehundred {
	background-position-x: -330px;
  background-position-y: 157px;
}


#betmessage {
	display: block;
	text-align: center;
	background-color: green;
	border-radius: 5px;
	width: 17em;
	margin-bottom: .7em;
}

button {
	height: 3em;
	width: 11em;
	margin-right: 15px;
	border-radius: 20px;
	font-size: 1em;
	padding: 0;
}


i {
    background-image: url('../images/cardspritesheet.png');
    width: 50px;
    height: 77px;
    display: inline-block;
    background-size: 1286%;
    margin-right: 0;
}

#back {
  background-position-x: 1px;
  background-position-y: 77px;
}

#clubsace {
	background-position-x: 0px;
	background-position-y: 616px;
}

#clubs2 {
	background-position-x: -49px;
	background-position-y: 616px;
}

#clubs3 {
	background-position-x: -99px;
	background-position-y: 616px;
}


#HeartsAce {
	background-position-x: 1px;
	background-position-y: 484px;
}

