* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#container {
	width: 40em;
}

div {
	/*border: 1px solid red;*/
	display: block;
}

body {
	background-image: url('../images/felt4.jpg');
}

h2 {
	text-align: center;
}

.mess {
	/*width: 40px;*/
	margin-bottom: 5px;
	height: 21px;
}

#container {
	width: 80%;
	margin: 0 auto;
	margin-left: 10%;
	margin-top: 3em;
	padding: 3em;
}

#tabletext {
	width: 80%;
	height: 3em;
	text-align: center;
	margin-bottom: 3em;
	margin-left: 10%;
}

#dealerhand {
	/*width: 33%;*/
	/*height: 1em;*/
	display: block;
	margin: 0 auto;
	margin-bottom: .5em;
	padding: 0;
	height: 77px;
}

#playerhand {
	/*width: 33%;*/
	/*height: 1em;*/
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
	padding: 0;
	height: 77px;
}

#bank {
	width: 60px;
	height: 3em;
	margin-left: 0;
	position: absolute;
	left: 3em;
	bottom: 6em;
}


#chips {
	width: 17em;
	height: 9em;
	margin-left: 14%;
	text-align: center;
	margin-bottom: 40px;
	position: absolute;
	right: 0;
	/*bottom: 0;*/
}

span {
	font-size: 100px;
}

.chip {
	border-radius: 100%;
	height: 4em;
	width: 4em;
	/*text-align: center;*/
	/*vertical-align: center;*/
	margin: 1px;
	display: inline-block;
	background-image: url('../images/chips2.png');
	background-size: 686%;
}

#one {
	background-position-x: 409px;
  background-position-y: 231px;
}

#five {
	background-position-x: 259px;
  background-position-y: 231px;
}

#twentyfive {
	background-position-x: -31px;
  background-position-y: 157px;
}

#onehundred {
	background-position-x: -181px;
  background-position-y: 157px;
}

#fivehundred {
	background-position-x: -330px;
  background-position-y: 157px;
}


#betmessage {
	display: block;
	/*text-align: center;*/
	border-radius: 5px;
	/*width: 17em;*/
	/*margin-bottom: .7em;*/
}

#gamemessage {
	display: block;
	text-align: center;
	border-radius: 5px;
	width: 17em;
	height: 28px;
}

#buttonbar {
	width: 100%%;
	height: 6em;
	/*margin-left: 10%;*/
	text-align: center;
	margin-bottom: 0;
	/*position: absolute;*/
/*	bottom: 0;
	margin: 0 auto;
*/}

.nav {
	display: block;
	margin: 0 -1px 20px 0;
	
	height: 33px;
	border: solid 1px #666666;
	text-align: center;
	width: 121px;
	font-size: 13px;
	color: #eeeeee;
	font-family: "Myriad Pro", Helvetica, sans-serif;
	line-height: 35px;
	float: left;

	text-shadow:
	0px -1px 0 #444444,
	0px -1px 0 #444444,
	0px 0px 0 #444444,
	0px 0px 0 #444444;
	
	background-color: gray;	

}

.nav-right {
	border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav-left {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.nav:hover {
	background: linear-gradient(top, #565656, #555555 49%, #454545 50%, #555555);
  text-decoration: none;

	text-shadow:
	-1px -1px 0 #444444,
	1px -1px 0 #444444,
	-1px 1px 0 #444444,
	1px 1px 0 #444444;

	box-shadow:inset 1px 1px 10px #555555, rgba(0, 0, 0, 0.5) 0px 2px 2px -1px;
}

.nav:active {
  box-shadow:inset 1px 2px 10px #111111, rgba(0, 0, 0, 0.5) 0px 2px 2px -1px;
}

i {
    background-image: url('../images/cardspritesheet.png');
    width: 50px;
    height: 77px;
    display: inline-block;
    background-size: 1286%;
    margin-right: 3px;
}

#back {
  background-position-x: 1px;
  background-position-y: 77px;
}

#clubsace {
	background-position-x: 0px;
	background-position-y: 616px;
}

#clubs2 {
	background-position-x: -49px;
	background-position-y: 616px;
}

#clubs3 {
	background-position-x: -99px;
	background-position-y: 616px;
}

#spadesace {
  background-position-x: 0px;
  background-position-y: 539px;
}

#spades2 {
  background-position-x: -49px;
  background-position-y: 539px;
}

#spades3 {
  background-position-x: -99px;
  background-position-y: 539px;
}

#spades4 {
  background-position-x: -148px;
  background-position-y: 539px;
}

#spades5 {
  background-position-x: -198px;
  background-position-y: 539px;
}

#spades6 {
  background-position-x: -247px;
  background-position-y: 539px;
}

#spades7 {
  background-position-x: -297px;
  background-position-y: 539px;
}

#spades8 {
  background-position-x: -347px;
  background-position-y: 539px;
}

#spades9 {
  background-position-x: -395px;
  background-position-y: 539px;
} 

#spades10 {
  background-position-x: -445px;
  background-position-y: 539px;
} 

#spadesjack {
  background-position-x: -494px;
  background-position-y: 539px;
} 

#spadesqueen {
  background-position-x: -544px;
  background-position-y: 539px;
} 

#spadesking {
  background-position-x: -594px;
  background-position-y: 539px;
} 

#diamondsace {
	background-position-x: 0px;
  background-position-y: -77px;
}

#diamonds2 {
	background-position-x: -49px;
  background-position-y: -77px;
}

#diamonds3 {
	background-position-x: -99px;
  background-position-y: -77px;
}

#diamonds4 {
	background-position-x: -148px;
  background-position-y: -77px;
}

#diamonds5 {
	background-position-x: -198px;
  background-position-y: -77px;
}

#diamonds6 {
	background-position-x: -247px;
  background-position-y: -77px;
}

#diamonds7 {
	background-position-x: -297px;
  background-position-y: -77px;
}

#diamonds8 {
	background-position-x: -346px;
  background-position-y: -77px;
}

#diamonds9 {
	background-position-x: -395px;
  background-position-y: -77px;
}

#diamonds10 {
	background-position-x: -446px;
  background-position-y: -77px;
}

#diamondsjack {
	background-position-x: -495px;
  background-position-y: -77px;
}

#diamondsqueen {
	background-position-x: -544px;
  background-position-y: -77px;
}

#diamondsking {
	background-position-x: -594px;
  background-position-y: -77px;
}

#clubs4 {
	background-position-x: -148px;
  background-position-y: -154px;
}

#clubs5 {
	background-position-x: -198px;
  background-position-y: -154px;
}

#clubs6 {
	background-position-x: -247px;
  background-position-y: -154px;
}

#clubs7 {
	background-position-x: -297px;
  background-position-y: -154px;
}

#clubs8 {
	background-position-x: -346px;
  background-position-y: -154px;
}

#clubs9 {
	background-position-x: -395px;
  background-position-y: -154px;
}

#clubs10 {
	background-position-x: -445px;
  background-position-y: -154px;
}

#clubsjack {
	background-position-x: -495px;
  background-position-y: -154px;
}

#clubsqueen {
	background-position-x: -544px;
  background-position-y: -154px;
}

#clubsking {
	background-position-x: -593px;
  background-position-y: -154px;
}

#heartsace {
	background-position-x: 0px;
  background-position-y: 0px;
}

#hearts2 {
	background-position-x: -50px;
  background-position-y: 0px;
}

#hearts3 {
	background-position-x: -100px;
  background-position-y: 0px;
}

#hearts4 {
	background-position-x: -148px;
  background-position-y: 0px;
}

#hearts4 {
	background-position-x: -148px;
  background-position-y: 0px;
}

#hearts5 {
	background-position-x: -198px;
  background-position-y: 0px;
}

#hearts6 {
	background-position-x: -248px;
  background-position-y: 0px;
}

#hearts7 {
	background-position-x: -297px;
  background-position-y: 0px;
}

#hearts8 {
	background-position-x: -346px;
  background-position-y: 0px;
}

#hearts9 {
	background-position-x: -396px;
  background-position-y: 0px;
}

#hearts10 {
	background-position-x: -445px;
  background-position-y: 0px;
}

#heartsjack {
	background-position-x: -495px;
  background-position-y: 0px;
}

#heartsqueen {
	background-position-x: -544px;
  background-position-y: 0px;
}

#heartsking {
	background-position-x: -594px;
  background-position-y: 0px;
}


